@import url('./_variable.css');


.Nav-bar > div{
    background: var(--bg-color);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

#root > div > div.MuiBox-root.css-k008qs > div > div{
    height: 80vh;
    margin: 4.4% 0;
    background: rgb(196, 196, 196);
    margin-left: 10px;
    border-radius: 15px;
    width: 15%;
}
